.navbar-green {
    background-color: $navbar-green-background;
    border-color: $navbar-green-border;

    .navbar-brand:hover,
    .navbar-brand:focus,
    .navbar-nav > .active > a,
    .navbar-nav > .active > a:hover,
    .navbar-nav > .active > a:focus {
        color: $navbar-green-color;
        background-color: $navbar-green-active-background;
    }

    .navbar-nav > li > a:hover,
    .navbar-nav > li > a:focus {
        background-color: $navbar-green-active-background;
    }

    .navbar-toggle {
        border-color: $navbar-green-toggle-color;

        &:hover,
        &:focus {
            background-color: $navbar-green-toggle-hover;
        }

        .icon-bar {
            background-color: $navbar-green-toggle-color;
        }
    }

    .navbar-collapse,
    .navbar-form {
        border-color: $navbar-green-toggle-color;
    }

}

.navbar-transparent {
    background-color: $navbar-transparent-background;
    border-color: $navbar-transparent-border;

    .navbar-brand:hover,
    .navbar-brand:focus,
    .navbar-nav > .active > a,
    .navbar-nav > .active > a:hover,
    .navbar-nav > .active > a:focus {
        color: $navbar-transparent-color;
        background-color: $navbar-transparent-active-background;
    }

    .navbar-nav > li > a:hover,
    .navbar-nav > li > a:focus {
        background-color: $navbar-transparent-active-background;
    }

    .navbar-toggle {
        border-color: $navbar-transparent-toggle-color;

        &:hover,
        &:focus {
            background-color: $navbar-transparent-toggle-hover;
        }

        .icon-bar {
            background-color: $navbar-transparent-toggle-color;
        }
    }

    .navbar-collapse,
    .navbar-form {
        border-color: $navbar-green-border;
    }
}

.navbar-green,
.navbar-transparent {
    .navbar-brand,
    .navbar-text,
    .navbar-nav > li > a {
        font-weight: bold;
        color: $navbar-text-color;
    }

    .navbar-nav > .open > a:hover,
    .navbar-nav > .open > a:focus {
        color: $navbar-open-hover;
        background-color: $navbar-open-hover-background;
    }

}
