$navbar-bgcolor: #5CB85C;
$navbar-bgcolor2: transparent;
$navbar-bgcolor3: rgba(0, 0, 0, 0.3);
$navbar-bgcolor4: rgba(0, 0, 0, 0.5);
$navbar-bgcolor5: black;
$navbar-bgcolor6: #e7e7e7;
$navbar-bgcolor7: rgba(92, 184, 92, 0.2);
$navbar-bgcolor8: rgba(60, 184, 62, 0.2);
$navbar-bgcolor9: white;
$navbar-border: #3cb83e;
$navbar-border2: black;
$navbar-border3: #3cb83e;
$navbar-border4: white;
$navbar-font: white;
$navbar-font2: #333;
$navbar-font3: black;
$navbar-font4: #555;

$window-height: calc(100vh - 50px);