main {
  min-height: calc(100vh - (50px + 20px) - 20px);
  padding: 10px 0px;
}

header {
  background-image: url("../img/header.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

header #superpuesto {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  text-align: center;
  height: 0px;
  padding-bottom: 56.25%;
}

header #superpuesto:before {
  content: " ";
  display: inline-block;
  vertical-align: middle;
  height: 50vw;
}

header .vertical-aligned {
  text-align: center;
  position: static;
  display: inline-block;
  vertical-align: middle;
}

#queEs,
#comoFunciona,
#contacto {
  min-height: calc(100vh - 56px);
  bottom: 15px;
  padding-top: 70px;
}

#queEs {
  background-color: rgba(167, 222, 55, 0.44);
}

#comoFunciona {
  background-color: white;
}

#contacto {
  color: #fff;
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(45, 225, 27, 0.2)), to(rgba(162, 94, 0, 0.5))), url("../img/header-1.jpeg");
  background-image: linear-gradient(to bottom, rgba(45, 225, 27, 0.2) 0%, rgba(162, 94, 0, 0.5) 100%), url("../img/header-1.jpeg");
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}

@media only screen and (max-width: 375px) {
  #queEs,
  #comoFunciona,
  #contacto {
    height: 100vh;
    font-size: 10px;
    line-height: 20px;
    padding: 15px;
  }
}

@media only screen and (min-width: 376px) and (max-width: 600px) {
  #queEs,
  #comoFunciona,
  #contacto {
    font-size: 12px;
    line-height: 23px;
    padding: 15px;
  }
}

footer {
  width: 100%;
  height: 200px;
  background-color: #A0DBB3;
  color: #7A5635;
  padding-top: 30px;
}

footer #imagenfooter {
  width: 80px;
  height: 80px;
  background-image: url("/assets/img/human-footprints.svg");
  background-size: cover;
  display: block;
  margin: auto;
}

footer #textofooter {
  margin-top: 10px;
  font-size: 20px;
  display: inline-block;
  text-align: center;
  width: 100%;
}

@media only screen and (max-width: 375px) {
  footer {
    height: 50px;
  }
  footer p {
    line-height: 50px;
    margin: 0 auto;
  }
}

@media only screen and (min-width: 376px) and (max-width: 600px) {
  footer {
    height: 80px;
  }
  footer p {
    line-height: 50px;
    margin-left: 50px;
  }
}

/*
 * modals
 */
.modal-content {
  border-radius: 0 !important;
}

#registerModal.modal,
#loginModal.modal {
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  text-align: center;
}

#registerModal.modal::before,
#loginModal.modal::before {
  content: " ";
  display: inline-block;
  vertical-align: middle;
  height: 50vw;
  text-align: center;
}

#loginModal .modal-dialog,
#registerModal .modal-dialog {
  text-align: left;
  position: static;
  display: inline-block;
  vertical-align: middle;
}

#loginModal .modal-dialog {
  width: 420px;
}

#registerModal .modal-dialog {
  width: 700px;
}
