main {
    min-height: calc(100vh - (1.42857143em + 20px) - 20px);
    padding: 10px 0px;
}

#texto{
    position: absolute;
    width:60%;
    left: 20%;
    top: 30%;
    font-size: 20px;
    color: white;

}

/*
 * Navbar green and transparent
 */

/* navbar-green*/

.navbar-green {
    background-color: #5cb85c;
    border-color: #3cb83e;
}
.navbar-green .navbar-brand,
.navbar-green .navbar-text,
.navbar-green .navbar-nav > li > a,
.navbar-transparent .navbar-brand,
.navbar-transparent .navbar-text,
.navbar-transparent .navbar-nav > li > a {
    color: white;
}
.navbar-green .navbar-nav > li > a:hover,
.navbar-green .navbar-nav > li > a:focus {
    color: #333;
    background-color: transparent;
}
.navbar-green .navbar-brand:hover,
.navbar-green .navbar-brand:focus,
.navbar-green .navbar-nav > .active > a,
.navbar-green .navbar-nav > .active > a:hover,
.navbar-green .navbar-nav > .active > a:focus {
    color: black;
    background-color: rgba(0, 0, 0, 0.3);
}
.navbar-green .navbar-toggle {
    border-color: black;
}
.navbar-green .navbar-toggle:hover,
.navbar-green .navbar-toggle:focus {
    background-color: rgba(0, 0, 0, 0.5);
}
.navbar-green .navbar-toggle .icon-bar {
    background-color: black;
}
.navbar-green .navbar-collapse,
.navbar-green .navbar-form {
    border-color: black;
}
.navbar-green .navbar-nav > .open > a,
.navbar-green .navbar-nav > .open > a:hover,
.navbar-green .navbar-nav > .open > a:focus {
    color: #555;
    background-color: #e7e7e7;
}

/* navbar transparent */

.navbar-transparent {
    background-color: rgba(92, 184, 92, 0.2);
    border-color: #3cb83e;
}
.navbar-transparent .navbar-nav > li > a:hover,
.navbar-transparent .navbar-nav > li > a:focus {
    color: #333;
    background-color: transparent;
}
.navbar-transparent .navbar-brand:hover,
.navbar-transparent .navbar-brand:focus,
.navbar-transparent .navbar-nav > .active > a,
.navbar-transparent .navbar-nav > .active > a:hover,
.navbar-transparent .navbar-nav > .active > a:focus {
    color: white;
    background-color: rgba(92, 184, 92, 0.4);
}
.navbar-transparent .navbar-toggle {
    border-color: white;
}
.navbar-transparent .navbar-toggle:hover,
.navbar-transparent .navbar-toggle:focus {
    background-color: rgba(60, 184, 62, 0.2);
}
.navbar-transparent .navbar-toggle .icon-bar {
    background-color: white;
}
.navbar-transparent .navbar-collapse,
.navbar-transparent .navbar-form {
    border-color: #3cb83e;
}
.navbar-transparent .navbar-nav > .open > a,
.navbar-transparent .navbar-nav > .open > a:hover,
.navbar-transparent .navbar-nav > .open > a:focus {
    color: #555;
    background-color: #e7e7e7;
}

/*
 *
 */

header {
    background-image: url("/assets/img/header.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

header #superpuesto {
    width: 100%;
    height: 0px;
    /*padding-top: 50px;*/
    padding-bottom: 56.25%;
    position: absolute;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.3);
}

header #superpuesto .vertical-aligned {
    display: table-cell;
    vertical-align: middle;
    width: 100vw;
    height: calc(100vw * .5625);
}

#quienesSomos,
#servicios,
#contacto {
    height: calc(100vh - 50px);
    bottom: 15px;

}

.bloque{
    margin-top: 70px;
}

footer {
    width:100%;
    height: 250px;
    background-color: #A0DBB3;
    color: #7A5635;
}

footer p {
    line-height: 200px;
}



/*------------MEDIA QUERIES---------------*/

@media only screen and (max-width: 375px) {

    #quienesSomos,
    #servicios,
    #contacto {
        height: 100vh;
        font-size: 10px;
        line-height: 20px;
        padding: 15px;
        /*margin:70px;*/
    }

    .bloque{
        margin-top: 40px;
    }

    footer{
        height: 50px;
        width:100%;
    }

    footer p{
        line-height: 50px;
        margin:0 auto;
    }

}

@media only screen and (min-width: 376px) and (max-width: 600px) {
    #quienesSomos,
    #servicios,
    #contacto {

        font-size: 12px;
        line-height: 23px;
        padding: 15px;
        /*margin:70px;*/
    }

    .bloque{
        margin-top: 40px;
    }

    footer{
        height: 80px;
        width:100%;
    }

    footer p{
        line-height: 50px;
        margin-left: 50px;

    }
}

