#mainNavbar {
    margin-bottom: 0px;
}

#mainNavbar.affix {
    top:0;
    width: 100%;
}

header {
    background-image: url("/assets/img/header.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

#quienesSomos,
#servicios,
#contacto {
    min-height: calc(100vh - 50px);
}

footer {
    height: 250px;
    background-color: #333;
    color: white;
}

footer p {
    line-height: 200px;
}